/* -----NAVIGATION----------*/
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}
.container{
  padding: 0;
}
.row{
  position: relative;
}
/* ----------CAROUSEL----------*/
#myCarousel{
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
}
.carousel {
    height: 450px;
    margin-bottom: 60px;
}

.carousel-caption {
    margin-top: 0;
    z-index: 10;
}

.carousel .item {
    width: 100%;
    height: 450px;
    background-color: ;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 450px;
}
@media (min-width: 768px) {
    .carousel-caption h3 {
        margin-bottom: 10%;
        font-size: 30px;
        line-height: 1.4;
    }
}
img {
    background: red;
