/* -----STYLE----------*/
h1 {
    font-family: 'Average', serif !important;
    font-size: 32px;
    text-align: center;
    color: #4a4a4a;
}
h2 {
    font-family: 'Average', serif !important;
    font-size: 32px;
  
    color: #4a4a4a;
}
.hline-bottom {
    padding-bottom: 10px;
    border-bottom: 2px solid #F02E74;
    width: 80px;
    margin: auto;
}
p {
    font-family: OpenSans, sans-serif !important;
    font-size: 16px;
    line-height: 1.6;
   
}
.carousel-text {
    font-family: 'Average', serif !important;
    font-size: 32px;
    text-align: center;
    color: #FFF;
}
.btn {
  color: #FFF;
  background-color: #F02E74;
  padding: 12px  !important;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0px !important;
  width: 100%;
  margin-top: 10px;
}
.btn:hover {
  color: #FFF !important;
  background-color: #FF82AF;
}

.btn a{
  text-decoration: none !important;
  color: white;
}


/* -----NAVIGATION----------*/
.navbar{
  margin-bottom: 0 !important;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}
.row{
  position: relative;
 
}
/* ----------CAROUSEL----------*/

/*https://designmodo.com/design-type-photo/*/
#cover {
  height: 85vh;
  margin-left: -15px;
  margin-right: -15px;
  overflow: hidden;
}

.background{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-color: white;
}

.first-slide-img{
  background-image: url(../images/Fact1.jpg);
  background-position: bottom;
  
}

.second-slide-img{
  background-image: url(../images/Fact2.jpg);
  background-position: center center;
}

.third-slide-img{
  background-image: url(../images/fact3.jpg);
  background-position: center center;
}

.fourth-slide-img{
  background-image: url(../images/fact4.jpg);
  background-position:  left center;
}

#myCarousel{
  position: relative;
  left: 0;
  right: 0;
}
.carousel {
  width: 100%;
  height: 75%;
}

.carousel-inner{
  height: 100%;
  width: 100%;
}

.carousel-caption {
  bottom: 20% !important;
 
}
.carousel-text {
    font-family: 'Average', serif !important;
    font-size: 30px;
    margin-bottom: 20px !important;
    text-align: center;
    color: #FFF !important;
}

.carousel .item {
    width: 100%;
    height: 100%;  
    position: relative;
}

.carousel-inner > .item > img {
  height: 100%;
  width: 100%;
}

@media (min-width: 768px) {
  .carousel-caption h1 {
     margin-bottom: 15%;
     font-size: 30px;
     line-height: 1.4;
   }

  #countdownTime{
   font-size: 40px !important;
 }
}

img {
    max-width: 100%;
    width: 100px
    height: 100px
    vertical-align: middle;
}

@media only screen and (max-width: 767px) { 
  .background{
    background-attachment: scroll;
  } 

  .carousel-text {
    font-size: 24px !important;
  }

  .carousel-inner > .item > img {
   width:100%;
   height: 100% !important;
  }
 #countDownText{
  font-size: 12px !important;
 }
}


/* ---------- COUNTDOWN --------- */
.purple-header{
  background-color: #423F6A;
  color: #fff !important;
  height: 25%;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.center {
    margin: 0;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding-right: 15px;
    padding-left: 15px;

}

#countdownTime{
  font-size: 40px;
}
#countdownText{
padding: 10px;
font-size: 14px;
 min-height: 20px;
 
}

.action{
  padding-top: 50px;
}
.description{
  padding-top: 20px;
}
hr{
  width: 5%;
  border: 2px solid #F02E74;
}


/*-------CHECKBOX IMAGES ------------*/
#logo{
  width: 60%;
}

.item-row{
<<<<<<< HEAD
  display: flex !important;
  display: -webkit-flex;
  
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-left: 50px;
  padding-right: 50px;
=======
  display: flex;
  flex-flow: row wrap;
>>>>>>> 93683ab4c80c475b84a3ed4c0ab7405576a90e28
  align-items: flex-start; 
}

.img-check{
  cursor: pointer;
  transition: transform .4s;
  height: 100px;
  width: 100px;
}

.caption{
  margin-top: 20px;
}

.col-sm-4 {
  margin-bottom: 30px;
}

.img-check:hover{
   transform: scale(1.10);  
}

.img-check-main:hover{
  transform: scale(1.10);  
}

/*--Main three items */
.img-check-main{
  width: 180px;
  height: 130px;
}

@media only screen and (max-width: 550px){
 .img-check-main{
  height: 120px;
  width: 110px;
 }
}


/*
https://codepen.io/maribelduran/pen/oePYjv
*/
input[type="checkbox"][name="item"] {
  display: none;
}

label {
  display: block;
  position: relative;
  cursor: pointer;
  font-weight: normal !important;
}

label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.45s;
  transform: scale(0);
}

label img {
  transition-duration: 0.4s;
  transform-origin: 50% 50%;
}

:checked + label {
  border-color: #ddd;
}

:checked + label:before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

:checked + label img {
  box-shadow: 0 0 3px #333;
  z-index: -1;
}

/*-------SHELTERS ------------*/

.shelter-card{
  width: 350px;
  height: 420px;
  margin-bottom: 40px;
  text-align: left !important;
  border-style: solid;
  border-color: rgba(51, 122, 183, 0.10);
  border-width: thin;
  border-radius: 5px;
  box-shadow: 0 12px 12px 0 #D3D3D3;
  box-sizing: border-box;
  background-color: white;
  /*-- similar to Boostrap's center-block class--*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
 
}

.card-img{
    height: 50%;
    overflow: hidden;  
}

.card-img_src{
  height: 100%;
  width: 100%;
}
p.needs{
  width: 100%;
  height: 15%;
  word-wrap: break-word;
  font-size: 12px;
}


/* ---------- BOOTSTRAP MODAL --------- */

.pink-highlights{
  background: #F02E74;
  color: #fff;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.modal-body{
  margin: 15%;
  margin-top: 10px;
}

.modal-body > h2{
  font-size: 24px;
}

.emphasize-text{
 font-size: 22px;
}

@media only screen and (max-width: 550px){
 .modal-body > h2{
  font-size: 20px;
 }

.emphasize-text{
 font-size: 20px;
 }

 .pink-highlights > p{
  font-size: 12px;
 } 

}

